body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #2a7163;
}

main {
  position: relative;
}
.start{
  position: absolute;
  text-align: center;
  background-color: white;
  border: solid 2px #034235;
  border-radius: 20px;
  padding: 1em;
  z-index: 2;
  top: 100px;
}

h1{
  color: rgb(0, 178, 175);
  font-size: 3em;
  margin: 1em;
}
p{
  font-size: 1em;
}
.win{
  position: absolute;
  display: flex;
 flex-direction: column;
  align-items: center;
  background-color: white;
  border: solid 2px #034235;
  border-radius: 20px;
  padding: 1em;
  z-index: 2;
  margin-top: 0;
}

.win h2{
  font-size: 4em;
  margin: 1em;
}

.gameOver {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: solid 2px #034235;
  border-radius: 20px;
  padding: 1em;
  z-index: 2;
  margin-top: 0;
}
div{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.gameOver img {
  width: 120px;
  height: 120px;
}

.gameOver h2 {
  color: rgb(0, 178, 175);
  font-size: 5em;
  margin: 1em;
}

button{
  background-color: #2a7163;
  color: white;
  font-size: 1.5em;
  border:solid 2px #034235;
  border-radius: 10px;
  padding: 8px;
}

.clown {
  z-index: 1;
}

.fish {
  position: absolute;
  width: 30px;
  height: auto;
  border-radius: 35%;
}

footer {
  display: flex;
  justify-content: center;
}

.algue {
  width: 80px;
  height: auto;
}

h3 {
  font-size: 2em;
  margin: 0;
  text-align: center;
}

h4 {
  margin: 1.5em;
  margin-top: 0.5em;
}

.reverse {
  rotate: 180deg;
}

.haut {
  rotate: 90deg;
}

.bas {
  rotate: 270deg;
}

.wall {
  background-color: #034235;
}

.rien {
  background-color: white;
}

.graine {
  width: 15px;
  height: auto;
}

.fruit {
  background-image: url("img/graines-de-tournesol.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}

.tile {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play {
  display: flex;
  flex-direction: row;
}